<!DOCTYPE HTML>
<html lang="utf-8">
{% load static from staticfiles %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link href="{% static 'default.css' %}" rel="stylesheet">
  <!-- Loading Bootstrap & Flat-UI -->
  <link href="{% static 'bs/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'bs/css/bootstrap-glyphicons.css' %}" rel="stylesheet">
  <!-- load jquery first -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  {% block head %}{% endblock %}
</head>

<body>
<div id="page-container">
  <div id="header-nav">
    <!-- nav bar -->
    <div class="navbar navbar-inverse">
      <a href="{% url 'memo.views.home' %}" class="navbar-brand"><span class="glyphicon glyphicon-home"></span> MemoLife</a>
      <div class="pull-right btn-group">
      {% if request.user.is_authenticated %}
        <a href="{% url 'memo.views.memo_entry' %}" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-file"></span> Entry</a>
        <a href="{% url 'memo.views.memo_write' %}" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-pencil"></span> Write</a>
        <div class="btn-group">
          <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span> <span class="nickname"> {{ request.user.setting.nickname }}</span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a id="settings" href="{% url 'memo.views.memo_setting' %}"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
            <li><a id="import-export" href="{% url 'memo.views.memo_io' %}"><span class="glyphicon glyphicon-upload"></span> Import | <span class="glyphicon glyphicon-download"></span> Export</a></li>
            <li class="divider"></li>
            <li><a id="logout" href="{% url 'memo.views.logout' %}"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
          </ul>
        </div>
      {% else %}
        <a href="{% url 'memo.views.login' %}" class="btn btn-default navbar-btn">Login</a>
        <a href="{% url 'memo.views.register' %} " class="btn btn-default navbar-btn">Register</a>
      {% endif %}
      </div>
    </div>
  </div>
  <div id="content">{% block body %}{% endblock %}</div>
  <div id="footer">Footer</div>
</div>
  <!-- Load JS here for greater good -->
  <script src="{% static 'bs/js/bootstrap.min.js' %}"></script>
</body>
</html>
