{% extends 'base.html' %}
{% block head %}
<script type="text/javascript">

function checkForm(form) {
  var submitButton = $(form).find(':submit')
  function validForm() {
    var isValid = true;
    $(form).find('.control-group').each(function () {
      if (!$(this).hasClass('success')) {
        isValid = false;
      }
    });

    if (isValid) {
      submitButton.removeAttr('disabled');
    } else {
      submitButton.attr('disabled', 'disabled');
    }
  }

  function inputHook(name, callback) {
    $(form).find('input[name="' + name + '"]').keyup(function () {
      parentDiv = $(this).parent()
      if (callback($(this).val())) {
        parentDiv.removeClass('error');
        parentDiv.addClass('success');
        parentDiv.append($('<i class="input-icon fui-check-inverted"></i>'));
      } else {
        parentDiv.removeClass('success');
        parentDiv.addClass('error');
        parentDiv.find('.input-icon').remove();
      }
      validForm();
    });
  }

  /* valid the form first */
  validForm();

  inputHook('username', function (input) {
    var emailExp = /^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;
    return input.match(emailExp);
  });
  inputHook('nickname', function (input) {
    return input.length > 0;
  });
  inputHook('password', function (input) {
    /* clean password_confirm filed */
    $(form).find('input[name="password_confirm"]').val('').removeClass('success')
    return (input.length >= 6);
  });
  inputHook('password_confirm', function (input) {
    return form.find('input[name="password"]').val() == input;
  });

}

$(window).load(function() {
  checkForm($('.login-form'));
});

</script>

{% block user_base_head %}{% endblock %}
{% endblock %}

{% block body %}
{% block user_base_body %}{% endblock %}
{% endblock %}
