{% extends 'base.html' %}
{% load static from staticfiles %}

{% block body %}
<div class="login">
  <div class="login-screen">

    <div class="login-icon">
      <img src="{% static 'flatui/images/login/icon.png' %}" alt="Welcome to Mail App" />
      <h4>Welcome to <small>Mail App</small></h4>
    </div>

    {% if status == 'success' %}
    <p>WoW!</p>
    <p>Your account has been created.</p>
    <p>Press <a href="{% url 'memo.views.login' %}">here</a> to login</p>
    {% else %}
    <form class="login-form" method="post" action="{% url 'memo.views.register' %}" class="login-form">
      {% csrf_token %}
      {% if status == 'fail' %}
      <p class="text-error">This email address have been taken, please try another.</p>
      {% endif %}
      <div class="control-group">
        <input name="username" type="text" class="login-field" placeholder="Enter your Email" id="login-name"  {% if form.username.value %}value="{{ form.username.value }}"{% endif %}/>
      </div>

      <div class="control-group">
        <input name="nickname" type="text" class="login-field" placeholder="Your nickname" id="login-name" maxlength="100"  {% if form.username.value %}value="{{ form.username.value }}"{% endif %}/>
      </div>

      <div class="control-group">
        <input name="password" type="password" class="login-field" placeholder="Password" id="login-pass" />
      </div>

      <div class="control-group">
        <input name="password_confirm" type="password" class="login-field" placeholder="Confirm Password" id="login-pass" />
      </div>

      <input name="submit" type="submit" value="Register Now!" class="btn btn-large btn-block btn-primary"/>
    </form>
    {% endif %}

  </div>
</div>
{% endblock %}
