{% extends 'base.html' %}

{% block body %}
{% if status == "success" %}
<p>WoW!</p>
<p>Your account have been created.</p>
<p>Press <a href="{% url 'memo.views.login' %}">here</a> to login</p>
{% else %}
<form method="post" action="{% url 'memo.views.register' %}">
  {% csrf_token %}
  <table>
  <tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
  </tr>
  <tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
  </tr>
  <tr>
    <td><label for="id_password_confirm">Confirm</label></td>
    <td><input id="id_password_confirm" maxlength="100" name="password_confirm" type="password" /></td>
  </tr>
  </table>
  {% if status == "fail" %}
  <p>This email address have been taken, please try another.</p>
  {% endif %}

  <input name="submit" type="submit" value="OK" />
</form>
{% endif %}
{% endblock %}
