html, body {
	margin: 0;
	padding: 0;
}

body {
}

#page-container {
	background: red;
	margin: auto;
	width: 960px;
}

/* nav bar */
#header-nav {
	background: green;
}

#header-nav .nav {
	float: right;
}

#header-nav h1 {
	margin-left: 10px;
	float: left;
	color: white;
}

.nickname {
	color: #F1C40F;
}

#content {
	background: #BDC3C7;
	margin: auto;
	text-align: center;
}

#footer {
	background: yellow;
	height: 60px;
}

/* for user page */
#content .login {
	background: none;
	//background-size: 940px 778px;
	color: #ffffff;
	margin-bottom: 0;
	padding: 38px 38px 267px;
	position: relative;
}

#content .login-screen {
	background-color: #1abc9c;
	min-height: 317px;
	padding: 123px 220px 33px 306px;
}

/* memo */
#btn-toolbar {
	margin-top: 40px;
	margin-bottom: 0;
}

#entry-pad {
	margin: 10px;
	padding: 30px;
}

.entry {
	background: white;
	border-radius: 10px;
	border-width: 3px;
	padding-top: 38px;
	padding-bottom: 21px;
	padding-left: 40px;
	padding-right: 40px;
	position: relative;
}

.entry-date {
	color: #C0392B;
	border: none;
}

.entry-star input {
	display: none;
}

.entry-star .star-btn {
	color: #95A5A6;
	font-size: x-large;
}

.entry-star input:checked + .star-btn {
	color: #C0392B;
}

.entry-html {
	font-size: 1.75em;
	line-height: 1.5em;
	margin-top: 20px;
	text-align: left;
}

.entry-html p {
	margin: 0 0 1.2em;
}
