html, body {
	margin: 0;
	padding: 0;
}

#page-container {
	background: red;
	margin: auto;
	width: 960px;
}

#header-nav {
	background: green;
	height: 54px;
}

#header-nav .nav {
	float: right;
}

#header-nav h1 {
	margin-left: 10px;
	float: left;
	color: white;
}

#content {
	background: blue;
}

#footer {
	background: yellow;
	height: 60px;
}

/* for user page */
#content .login {
	background: none;
	//background-size: 940px 778px;
	color: #ffffff;
	margin-bottom: 0;
	padding: 38px 38px 267px;
	position: relative;
}

#content .login-screen {
	background-color: #1abc9c;
	min-height: 317px;
	padding: 123px 220px 33px 306px;
}
