{% extends 'base.html' %}

{% block head %}
<script type="text/javascript">
function setCsrfToken(xhr) {
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
}

$.ajaxSetup({
   beforeSend: function(xhr, settings) {
     if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
       // Only send the token to relative URLs i.e. locally.
       setCsrfToken(xhr);
     }
     return true;
   },
   cache: true,
});

/* memoAjax -- a wrap to do memo_ajax request
 * type: 'POST' or 'GET'
 * data: for a 'POST' request, it's the post data, which will be converted into json format
         for a 'GET' request, a dict like object required, and will be transfered query string appending to url.
 * callback: a callback to check response
 */
function memoAjax(type, data, callback) {
  $.ajax({
    type: type,
    url: "{% url 'memo.views.memo_ajax' %}",
    data: type == "POST"? JSON.stringify(data): data,
    success: callback,
    async: false,
  });
}

function memoQuery(mode, query, value, payload) {
  var reqs = {
    'mode': mode,
    'query': query,
  };
  if (value) {
    reqs['value'] = value;
  }
  if (payload) {
    reqs['payload'] = payload;
  } else {
    reqs['payload'] = 'html';
  }

  var entrys = null;

  memoAjax('GET', reqs, function (data) {
    var resp = JSON.parse(data);
    if (resp.status) {  /* success */
      entrys = resp.entries;
    } else {
      console.error('request failed: ' + resp.msg);
    }
  });
  return entrys;
}

/* entryFactory -- a helper function to generator a entry block
 * data: a dict like object that required 'date', 'star', 'html' field
 * return value: entry object in html
 */
function entryFactory(data) {
  var entry = $('#entry-tpl').clone();

  entry.attr('id', data.date);
  entry.css('display', '');

  entry.find('.entry-date').text(data.date);
  entry.find('.entry-star input:checkbox').prop('checked', data.star);
  entry.find('.entry-html').html(data.html);

  return entry;
}

/* unpackEntry -- unpack entry and return a dict of entry info */
function unpackEntry(entry) {
  return {
    'date': $(entry).find('.entry-date').text(),
    'star': $(entry).find('.entry-star input:checkbox').prop('checked'),
    'html': $(entry).find('.entry-html').html(),
  };
}

function redirect(url) {
  window.location = url;
}

$(window).load(function () {
  $('#content').delegate('.entry .star-btn', 'click', function () {
    var checkbox = $(this).prev('input:checkbox');
    var nextState = !checkbox.prop('checked');
    var data = {
      'date': unpackEntry($(this).parents('.entry')).date,
      'star': nextState,
    };
    memoAjax('POST', data, function () {
      checkbox.prop('checked', nextState);
    });
  });

  $('#content').delegate('.entry-form .star-btn', 'click', function () {
    var checkbox = $(this).prev('input:checkbox');
    var nextState = !checkbox.prop('checked');
    checkbox.prop('checked', nextState);
  });

});

</script>

{% block memo_head %}{% endblock %}
{% endblock %}

{% block body %}
<!-- entry template -->
<div id="entry-tpl" class="entry" style="display:none">
  <h2><div class="entry-date"></div></h2>
  <div class="entry-star">
    <input type="checkbox" /><a class="star-btn" href="#"><span class="glyphicon glyphicon-heart"></span></a>
  </div>
  <hr />
  <div class="entry-html"></div>
</div>
{% block memo_body %}{% endblock %}
{% endblock %}
