{% extends 'memo/base.html' %}

{% block memo_head %}
<style>
.day {
  fill: #fff;
  stroke: #ccc;
}

.day[data-state="entry"] {
  fill: #f0f;
}

.day[data-state="entry-star"] {
  fill: #f00;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

</style>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<script>
function dashboard(s, selector) {
  var width = 960,
      height = 136,
      cellSize = 17; // cell size

  var startDate = prevYear(s);

  var day = d3.time.format("%w"),
      format = d3.time.format("%Y-%m-%d");

  function nextYear(s) {
      return new Date(s.getFullYear() + 1, s.getMonth(), s.getDate());
  };

  function prevYear(s) {
      return new Date(s.getFullYear() - 1, s.getMonth(), s.getDate());
  };

  function week(d) {
      var weekOfYear = d3.time.format("%U");
      var dWeek = parseInt(weekOfYear(d)),
          sWeek = parseInt(weekOfYear(startDate));
      if (d.getFullYear() == startDate.getFullYear()) {
        /* the same year */
        return dWeek - sWeek;
      } else {
        var jan1 = new Date(d.getFullYear(), 0, 1);
        if (parseInt(day(jan1)) == 0) {
          return dWeek + (53 - sWeek);
        } else { /* share the first week */
          return dWeek + (52 - sWeek);
        }
      }
  }

  var svg = d3.select(selector).selectAll("svg")
      .data([startDate])
    .enter().append("svg")
      .attr("width", width)
      .attr("height", height)
      .attr("class", "RdYlGn")
    .append("g")
      .attr("transform", "translate(" + ((width - cellSize * 53) / 2) + "," + (height - cellSize * 7 - 1) + ")");

  svg.append("text")
      .attr("transform", "translate(-6," + cellSize * 3.5 + ")rotate(-90)")
      .style("text-anchor", "middle")
      .text(function (d) { return d; });

  var rect = svg.selectAll(".day")
      .data(function (d) { return d3.time.days(d, nextYear(d)); })
    .enter().append("rect")
      .attr("class", "day")
      .attr("width", cellSize)
      .attr("height", cellSize)
      .attr("data-hover", function (d) { return "No entry on " + format(d); })
      .attr("x", function (d) { return week(d) * cellSize; })
      .attr("y", function (d) { return day(d) * cellSize; })
      .on('click', clickHanlder)
      .datum(format);

  rect.append("title")
      .text(function (d) { return d; });

  var range = format(startDate) + '_' + format(nextYear(startDate));
  var entrys = d3.nest()
    .key(function (e) { return e.date; })
    .rollup(function (e) { return e[0] })
    .map(memoQuery('batch', 'range', range, 'none'));

  var state = function (e) { return "entry" + (e.star? '-star': ''); };

  rect.filter(function (d) { return entrys[d]; })
    .attr("data-state", function (d) { return state(entrys[d]); })
    .attr('data-hover', function (d) { return "Entry on " + format[d]; });

  function clickHanlder() {
    var d = $(this).find('title').text();
    if ($(this).attr('data-state')) {  /* a valid entry */
      var result = memoQuery('single', 'date', d);
      $('#entry-pad').empty()
        .append(entryFactory(result[0]));
    } else {

    }
  }

/*
  svg.selectAll(".month")
      .data(function (d) { return d3.time.months(d, nextYear(d)); })
    .enter().append("path")
      .attr("class", "month")
      .attr("d", monthPath);

  function monthPath(t0) {
    var t1 = new Date(t0.getFullYear(), t0.getMonth() + 1, 0),
        d0 = +day(t0), w0 = +week(t0),
        d1 = +day(t1), w1 = +week(t1);
    return "M" + (w0 + 1) * cellSize + "," + d0 * cellSize
        + "H" + w0 * cellSize + "V" + 7 * cellSize
        + "H" + w1 * cellSize + "V" + (d1 + 1) * cellSize
        + "H" + (w1 + 1) * cellSize + "V" + 0
        + "H" + (w0 + 1) * cellSize + "Z";
  }
*/
}

$(window).load(function () {
  dashboard(new Date(), '#dashboard');
});

</script>

{% endblock %}

{% block memo_body %}
  <div id="dashboard">
  </div>
  <div id="entry-pad">
  </div>
{% endblock %}
