{% extends 'memo/base.html' %}

{% block memo_head %}
<script type="text/javascript">
$(window).load(function () {
  var entryPad = $('#entry-pad')

  function singleMemoQuery(btn, query, value) {
    var result = memoQuery('single', query, value);
    if (result) {
      entryPad.empty();
      entryPad.append(entryFactory(result[0]));
    }
    $(btn).removeClass('active');
  }

  /* show latest entry first */
  singleMemoQuery(null, 'latest');

  $('#entry-prev-btn').click(function () {
    singleMemoQuery(this, 'prev', unpackEntry(entryPad).date);
  });

  $('#entry-next-btn').click(function () {
    singleMemoQuery(this, 'next', unpackEntry(entryPad).date);
  });

  $('#entry-latest-btn').click(function () {
    singleMemoQuery(this, 'latest');
  });

  $('#entry-random-btn').click(function () {
    singleMemoQuery(this, 'random');
  });

});

</script>
{% endblock %}

{% block memo_body %}
<div>
  <div id="btn-toolbar">
    <div class="btn-group">
      <a href="javascript:void(0);" class="btn btn-large btn-primary" id="entry-prev-btn"><span class="fui-arrow-left"></span></a>
      <a href="javascript:void(0);" class="btn btn-large btn-primary" id="entry-latest-btn">Latest</a>
      <a href="javascript:void(0);" class="btn btn-large btn-primary" id="entry-random-btn">Random</a>
      <a href="javascript:void(0);" class="btn btn-large btn-primary" id="entry-next-btn"><span class="fui-arrow-right"></span></a>
    </div>
  </div>
  <div id="entry-pad">
  </div>
</div>
{% endblock %}
