{% extends 'base.html' %}

{% block head %}
<script type="text/javascript">
function notify_trigger(input) {
  var enable = $('.setting-form input[name="notify"]').attr('checked') ? true: false;
  $('.setting-form .notify-subgroup :input').each(function () {
    if (enable) {
      $(this).removeAttr('disabled');
    } else {
      $(this).attr('disabled', true);
    }
  });
  $('.setting-form').submit(function () {
    /* post disabled elemments too */
    $(this).find(':disabled').each(function () {
      $(this).removeAttr('disabled');
    });
    return true;
  });
}

$(window).load(function () {
  notify_trigger();
  $('.setting-form input[name="notify"]').change(function () {
    notify_trigger();
  });
});
</script>
{% endblock %}

{% block body %}
<form class="setting-form" method="post" action="{% url 'memo.views.memo_setting' %}">
  {% csrf_token %}
  {% if success %}
  <div><p>Setting Save Successfully.</p></div>
  {% endif %}
  <div class="control-group">
    <input name="nickname" type="text" value="{{ form.nickname.value }}"/>
    <label>Nickname</label>
  </div>
  <div class="control-group">
    <input name="markdown" type="checkbox" data-toggle="switch" {% if form.markdown.value %}checked{% endif %} />
    <label>Markdown</label>
  </div>
    <div class="control-group">
      <input name="notify" type="checkbox" data-toggle="switch" {% if form.notify.value %}checked{% endif %} />
      <label>Email Nofity</label>
    </div>
  <div class="notify-subgroup">
    <div class="control-group">
      <select name="timezone" value="{{ form.timezone.value }}" class="select-block select-herolist">
      {% for value, name in form.instance.TIME_ZONE_CHOICES %}
        <option value="{{ value }}" {% if form.timezone.value == value %}selected="selected"{% endif %}>{{ name }}</option>
      {% endfor %}
      </select>
      <label>Time Zone</label>
    </div>
    <div class="control-group">
      <!-- we prefer js here -->
      <input name="preferhour" type="text" value="{{ form.preferhour.value }}" />
      <label>Prefer Time</label>
    </div>
    <div class="control-group">
      <select name="interval" value="{{ form.interval.value }}" class="select-block select-herolist">
      {% for value, hint in form.instance.INTERVAL_CHOICES %}
        <option value="{{ value }}" {% if form.interval.value|add:0 == value %}selected="selected"{% endif %}>{{ hint }}</option>
      {% endfor %}
      </select>
      <label>Interval</label>
    </div>
    <div class="control-group">
      <input name="attach" type="checkbox" data-toggle="switch" {% if form.attach.value %}checked{% endif %} />
      <label>Attach an Entry</label>
    </div>

  </div>
  <input name="submit" type="submit" value="Save!" class="btn btn-large btn-block btn-success" />
</form>
{% endblock %}
