{% extends 'base.html' %}

{% block head %}
<script type="text/javascript">
function notify_trigger(input) {
  var enable = $('.setting-form input[name="notify"]').prop('checked') ? true: false;
  $('.setting-form .notify-subgroup').attr('disabled', !enable);
  });

  $('.setting-form').submit(function () {
    /* post disabled elemments too */
    $(this).find(':disabled').each(function () {
      $(this).removeAttr('disabled');
    });
    return true;
  });
}

$(window).load(function () {
  notify_trigger();
  $('.setting-form input[name="notify"]').change(function () {
    notify_trigger();
  });
});
</script>
{% endblock %}

{% block body %}
<form class="setting-form" method="post" action="{% url 'memo.views.memo_setting' %}">
  {% csrf_token %}
  {% if success %}
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Success!</strong> Your setting has been saved.
  </div>
  {% endif %}
  <fieldset>
    <div class="form-group">
      <label>Nickname</label>
      <input name="nickname" type="text" class="form-control" placeholder="Your nickname" value="{{ form.nickname.value }}"/>
    </div>
    <div class="checkbox">
      <label for="id-markdown">Enable Markdown syntax support.</label>
      <input name="markdown" id="id-markdown" type="checkbox" {% if form.markdown.value %}checked{% endif %} />
    </div>
      <div class="checkbox">
        <label for="id-notify">Email Notification.</label>
        <input name="notify" id="id-notify" type="checkbox" {% if form.notify.value %}checked{% endif %} />
      </div>
    <fieldset class="notify-subgroup">
      <div class="form-group">
        <label>Time Zone</label>
        <select name="timezone" value="{{ form.timezone.value }}" class="form-control">
        {% for value, name in form.instance.TIME_ZONE_CHOICES %}
          <option value="{{ value }}" {% if form.timezone.value == value %}selected="selected"{% endif %}>{{ name }}</option>
        {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <!-- we prefer js here -->
        <label>Prefer Time</label>
        <input name="preferhour" type="text" class="form-control" value="{{ form.preferhour.value }}" />
      </div>
      <div class="form-group">
        <label>Interval</label>
        <select name="interval" value="{{ form.interval.value }}" class="form-control">
        {% for value, hint in form.instance.INTERVAL_CHOICES %}
          <option value="{{ value }}" {% if form.interval.value|add:0 == value %}selected="selected"{% endif %}>{{ hint }}</option>
        {% endfor %}
        </select>
      </div>
      <div class="checkbox">
        <label for="id-attach">Attach an Entry</label>
        <input name="attach" id="id-attach" type="checkbox" {% if form.attach.value %}checked{% endif %} />
      </div>
    </fieldset>

    <input name="submit" type="submit" value="Save!" class="btn btn-large btn-block btn-success" />
  </fieldset>
</form>
{% endblock %}
