{% extends 'memo/base.html' %}

{% block memo_head %}
<script type="text/javascript">
function submitEntry(form) {
  var reqs = {
    'date': $(form).find('input[name="date"]').val(),
    'star': $(form).find('input[name="star"]').attr("checked") == "checked",
    'text': $(form).find('input[name="text"]').val(),
  };

  memoAjax('POST', reqs, function (data) {
    var resp = JSON.parse(data);
    if (resp.status) {
      redirect("{% url 'memo.views.memo_entry' %}");
    } else {
      console.error('submit failed: ' + resp.msg);
    }
  });
}

$(window).load(function () {
  $('input[name="submit"]').click(function () {
    submitEntry($('.entry-form'));
  });
});
</script>
{% endblock %}

{% block memo_body %}
<div class="entry-form">
  {% csrf_token %}
  <input name="date" type="text" />
  <input name="star" type="checkbox" />
  <input name="text" type="textarea" />
  <input name="submit" type="submit" />
</div>
{% endblock %}
